body::-webkit-scrollbar {
    width: 0px;
}

#root {
    overflow: auto;
}

.SkillsPage h2 {
    font-size: 1.618em;
}

.SkillsPage {
    width: 100%;
    height: max-content;
    position: relative;
}

.SkillsPage .golden {
    display: none;
}

.SkillsPage main {
    width: 100%;
    height: calc(100vw / 1.618);
    position: relative;

}

.SkillsPage main .golden {
    display: block !important;
    position: absolute;
    top: 0;
}
 
.SkillsPage main .FrontendContainer {
    width: calc(100vw / 1.618 / 1.618);
    height: calc(100vw / 1.618);
    left: 0%;
}

.Skills {
    width: max-content;
    height: max-content;
    position: absolute;
    top: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);
    transform: translateY(30px);
}

.Skills h2 {
    text-align: center;
}

.Skills li {
    max-width:calc(100vw / 1.618 / 1.618 / 1.618);
    margin: 20px 0px;
    list-style: none;
    font-size: 1em;
    line-height: 1.35;
    font-weight: 500;
    font-size: 1.05em;
}

.Frontend {
    left: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);
}

.Backend {
    right: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);

}

main .BackendContainer {
    width: calc(100vw / 1.618 / 1.618);
    height: calc(100vw / 1.618);
    right: 0%;
}

main .MainContainer {
    width: calc(100vw / 1.618 / 1.618 / 1.618);
    height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);
    left: 50%;
    transform: translateX(-50%);
}

.MainContainer svg {
    top: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618);
    max-width: calc(100vw / 1.618 / 1.618 / 1.618);
}

.MainContainer .RightPartSVG {
    position: absolute;
    left: 50%;
}

.MainContainer .LeftPartSVG {
    position: absolute;
    right: 50%;
}

.skills-golden .MainContainer h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.OtherContent {
    --d-level-4: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);
    width: 100%;
    height: max-content;
    margin: 0 auto;
    position: relative;

}

.OtherContent>div {
    width: calc(100vw - var(--d-level-4)*2);
    margin: 0 auto;
}

.OtherContent .Paragraphs {
    font-size: 1.618em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: calc(var(--d-level-4));
}

.Underlined {
    text-decoration: underline;
}

.Bold {
    font-weight: bold;
}

.PortfolioNav {
    width: 100%;
    height: max-content;
}

.PortfolioNav a {
    display: block;
    width: max-content;
}

.PortfolioBtn {
    width: max-content;
    height: max-content;
    position: relative;

}

.PortfolioBtn img {
    max-width: 100%;
}

.PortfolioBtn h2 {
    text-align: right;
    width: fit-content;
    max-width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    color: white;
    /* font-size: 1.5em; */
}

.OtherContent .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.OtherContent .RightBg {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('./assets/skills/rightbg.png') ;
    background-repeat: repeat-y;
    background-position: top right;
}

.OtherContent .LeftBg {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('./assets/skills/leftbg.png') ;
    background-repeat: repeat-y;
    background-position: top left;
}

@media screen and (max-width: 1024px) {
    .Skills li {
        font-size: 1em;
    }
    .SkillsPage h2 {
        font-size: 1.5em;
    }
}