* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 29px;
    margin: auto;
}

main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

@media screen and (max-width: 545px) {
    h1 {
        font-size: 1.8em !important;
    }
}