
:root {
    --c1: #e0bea2;
    --c2: #BCA38D;
    --c3: #eeeeee;
    --c4: #cbcbcb;

    --main-padding: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618);
    --header-height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618); 
    --note-ele-height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618);
}

#root {
    padding: var(--main-padding);
    overflow-x: hidden;
}

#root a {
    color: black;
    text-decoration: none;

}

#root button > svg {
    pointer-events: none !important;
}

header.header {
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--c2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

header.header h2 {
    font-style: italic;
    font-weight: 600;
}

header.header button,
.btn-main-style {
    padding: 3px 10px !important;
    background-color: var(--c3) !important;
    border: 3px solid var(--c4) !important;
    border-radius: 10px !important;
    font-size: 1em !important;
    cursor: pointer !important;
    color: black !important; 
}

#root > main,
.page {
    width: 100%;
    height: max-content;
    position: relative;
}

/* #root > main {
    padding-top: var(--main-padding);
} */

.create-note-link {
    width: var(--header-height);
    height: var(--header-height);
    border: 2px solid var(--c2);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1000;
}
.create-note-link svg {
    color: var(--c2);
    font-size: 30px;
}

/* Home Page */
.note {
    width: 100%;
    height: var(--note-ele-height);
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.note>h2 {
    align-self: center;
    font-weight: 500;
}
.note>h4 {
    align-self: flex-end;
    font-weight: 400;
}
.note::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--c2);
    border-radius: 9999px;
}


/* Create Note Page */
.create-note-btn {
    position: absolute;
    right: 0;
    top: 5px;
}

.play-ground {
    padding-top: var(--main-padding);
    display: grid;
    grid-auto-columns: calc((100% * 0.3) / 2) calc(100% * 0.6) calc((100% * 0.3) / 2) ;
    grid-auto-rows: auto;
    justify-content: center;
    column-gap: 20px;
    position: relative;
    min-height: calc(100vh - var(--header-height));
}

.play-ground > div {
    margin: var(--main-padding) 0 0 0;
    width: 100%;
}
.play-ground > .tools {
    grid-column: 1 / 2;
}
.play-ground > .paper {
    grid-column: 2 / 3;
}
.play-ground > .relation {
    grid-column: 3;
}

.paper {
    background-color: var(--c3);
    border-radius: 8px;
    border: 3px solid var(--c4);
    outline: none;
    line-height: 1.8;
    font-size: 1.1em;
    position:relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.paper > input {
    font-size: 2em;
}

.paper > div,
.paper > input,
.paper > h1 {
    width: 100%;
    height: max-content;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 500;
}

.paper > div[contenteditable=true],
.paper > input {
    border-left: 1px solid var(--c4);
}

.play-ground > .tools,
.play-ground > .relation {
    border: 1px solid var(--c2);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
    position: relative;
}

.play-ground > .tools > button {
    border: none;
    outline: none;
    width: max-content;
    height: max-content;
    background-color: transparent;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-ground > .tools > button > svg {
    font-size: 40px;
    color: var(--c2);
    pointer-events: none;
}

.play-ground > .tools > button.bold-on {
    background-color: var(--c2);
    border-radius: 8px;

}
.play-ground > .tools > button.bold-on > svg {
    color: var(--c1);
}

.paper > div#canvas,
.paper > div#img {
    width: 80%;
    min-height: 250px;
    border: 1px solid silver;
    margin: 30px auto;
    display: block;
    position: relative; 
    padding: 0;
}

.paper > div#canvas > canvas,
.paper > div#img > img {
    width: 100%;
}
.paper > div#canvas > canvas {
    cursor: crosshair;
    height: 100%;
}

.paper > div#canvas > button,
.paper > div#img > button,
.relation > button {
    background-color: transparent;
    border: none;
    outline: none;
    width: max-content;
    height: max-content;
    padding: 3px;
    position: absolute;
    cursor: pointer;
}

.paper > div#canvas > button > svg,
.paper > div#img > button > svg,
.relation > button > svg  {
    font-size: 30px;
    color: var(--c4);
}

.paper > div#canvas > button#finish {
    bottom: 0;
    right: 0;
}

.paper > div#canvas > button#cancel,
.paper > div#img > button#del {
    top: 0;
    right: 0;
}

.paper > div#canvas > button#back {
    top: 0;
    left: 0;
}

.play-ground > .relation > h3 {
    font-weight: 500;
    text-wrap: nowrap;
}


.play-ground > .relation > .obj-btns {
    height: max-content;
    width: 100%;
    border: 1px solid var(--c2);
    border-radius: 8px;
    padding: 0 10px;
    position: relative;
}

.play-ground > .relation > .obj-btns > button {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--c2);
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
}

.play-ground > .relation > .related-obj {
    padding: 10px;
    border: none;
    color: var(--c3);
    background-color: var(--c2);
    text-align: center;
}

.play-ground > .relation > button {
    position:static;
}
.play-ground > .relation > button > svg {
    color: rgba(128, 128, 128, 0.6);
}


.obj-search-container {
    width: 200px;
    height: 200px;
    border: 3px solid var(--c4);
    box-shadow: 0px 1px 6px 1px gray;
    position: absolute;
    right: 100%;
    top: 0;
    border-radius: 8px;
    background-color: var(--c3);
    overflow-y: scroll;
}
.obj-search-container input[type=text] {
    width: 100%;
    height: max-content;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 3px;
    font-size: 1em;
}
.obj-search-container > div:nth-child(2) {
    height: max-content;
}
.obj-search-container > div:nth-child(2) > div {
    width: 100%;
    height: max-content;
    padding: 10px;
    font-size: 1em;
    border-bottom: 1px solid silver;
    cursor: pointer;
}

.obj-search-container > div:nth-child(2) > div:hover {
    background-color: silver;
}

.obj-search-container::-webkit-scrollbar {
    width: 2px;
}
.obj-search-container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 999px;
}


/* Note Page */
.note-page > div {
    width: 100%;
    height: max-content;
    position: relative;
    padding-top: var(--main-padding);

}

.note-page > div .container {
    display: flex;
    min-height: calc(100vh - var(--header-height));
}
.note-page > div .container > .paper {
    margin: 0 auto;
    margin-top: var(--main-padding);
    width: calc(100% * 0.6);
}

.note-page > div > .btns-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 5px;
}
.note-page > div > .btns-container > button {
    position: relative !important;
    top: 0 !important;
}

.note-page > div > button,
.note-page > div > .btns-container > button {
    background-color: transparent;
    width: max-content;
    height: max-content;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--c2);
    position: absolute;
    top: 5px;
    border: 2px solid var(--c2);
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
    z-index: 10;
}
.note-page > div > button > svg,
.note-page > div > .btns-container > button > svg {
    font-size: 30px;
}
.left-btn {
    left: 0;
}
.right-btn {
    right: 0;
}

.download-list {
    width: 200px;
    height: max-content;
    border: 3px solid var(--c4);
    background-color: var(--c3);
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 10;
    overflow: hidden;
}
.download-list .download-btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--c4);
    text-align: left;
    cursor: pointer;
    display: block;
}
.download-list > .download-btn:hover {
    background-color: var(--c4);
}

.download-list > .download-btn:last-child {
    border-bottom: none;
}

@media screen and (max-width:  912px) {
    :root {
        --main-padding: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618);
        --header-height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618); 
        --note-ele-height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);

    }

    .play-ground {
        grid-auto-columns: calc(80%* 0.4) calc(80%* 0.6);
        grid-auto-rows: var(--header-height) auto auto;
        width: 100%;
        column-gap: 0;
    }
    

    .play-ground > div {
        margin-left: auto !important;
        margin-right: auto !important;
        grid-column: auto;
    }

    .play-ground > .tools,
    .play-ground > .relation {
        height: var(--header-height);
        margin: 0;
    }

    .play-ground > .tools {
        grid-row: 1 / 2;
        flex-direction: row;
        grid-column: 1 / 2;
        width: 100%;
    }
    
    .play-ground > .relation {
        grid-row: 1 / 2;
        grid-column: 2;
        flex-direction: row;
        overflow-y: visible;
        column-gap: 10px;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        padding-right: 0;
    }

    .play-ground > .relation > .obj-btns::-webkit-scrollbar {
        height: 3px;
        width: 0px;
    }
    .play-ground > .relation > .obj-btns::-webkit-scrollbar-thumb {
        background: var(--c2);
    }

    .play-ground > .relation > .obj-btns {
        display: flex;
        column-gap: 20px;
        height: 100%;
        width: 100%;
        justify-content: start;
        align-items: center;
        border: none;
        overflow-x: scroll;
    }

    .play-ground > .relation > .obj-btns > button {
        width: max-content;
        border: none;
        text-wrap: nowrap;
    }

    .obj-search-container {
        left: 0;
        top: 100%;
    }

    .play-ground > .paper {
        height: 100vh;
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .play-ground > .paper {
        width: 100%;
    }
    .container > .paper {
        width: 80% !important;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --main-padding: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618 / 1.618);
        --header-height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618 / 1.618); 
        --note-ele-height: calc(100vw / 1.618 / 1.618 / 1.618);
    }

    .play-ground {
        grid-auto-columns: calc(100%* 0.4) calc(100%* 0.6);
        padding-top: calc(var(--main-padding)*2);
        min-height: calc(100vh - var(--main-padding)* 2 - var(--header-height));
    }
    .play-ground > .paper {
        height: auto;
    }


    .note > h2 {
        font-size: 	1.25em;
    }

    .create-note-link,
    .note-page > div > button {
        top: 5px;
    }

    .note-page > div > .container {
        min-height: calc(100vh - var(--main-padding)*3 - var(--header-height));
    }

    .play-ground > .paper,
    .container > .paper {
        width: 100% !important;
    }
}